$information-sm: 576px;
$information-md: 768px;
$information-lg: 992px;
$information-xl: 1200px;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

main {
  height: inherit;
  width: inherit;

  overflow: hidden;

  background-image: url(../img/background.webp);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: 230%;

  @media (min-width: $information-md) {
    background-size: contain;
  }  
  
  header {
    display: flex;
    justify-content: space-between; 
    align-items: center;

    width: 90%;
    height: 25%;
    min-height: 175px;
    max-height: 400px;

    margin-top: 210px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    @media (min-width: $information-xl) {
      min-height: 300px;
      margin-top: 25%;
    }

    h1 {
      margin: 0 0 0 20px;

      font-family: 'Roboto Slab', serif;
      font-style: normal;
      font-weight: bold;
      font-size: 2em;
      line-height: 50px;
      
      color: #000000;

      @media (min-width: $information-xl) {
        font-size: 4em;
        line-height: 95px;
      }
    }

    img {
      height: 100%;
      display: none;

      @media (min-width: $information-md) {
        display: block;
      } 
    }
  }

  .info-card {

    h2 {
      margin: 0;

      font-family: 'Roboto Slab', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 47px;
      
      color: black;

      text-align: center;

      @media (min-width: $information-xl) {
        font-size: 2em;
      }
    }

    hr {
      margin-top: 30px;

      border-width: 0;
      border-top-width: 0px;
      border-top: 1px solid black;

      width: 20%;
      max-width: 100px;
    }
    
    .links {
      font-family: 'Roboto Slab', serif;
      font-size: 20px;
      margin-top: 10px;

      color: black;

      text-align: center;
      
      a {
        text-decoration: none;
        line-height: 35px;

        color: black;

        padding: 0 8px;
        &:hover {
          color: #434343;
        }
      }
    }
  }
}