$information-sm: 576px;
$information-md: 768px;
$information-lg: 992px;
$information-xl: 1200px;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  color: white;
  font-family: monospace;
}

#background {
  height: inherit;
  width: inherit;
  background-color: #000221;
  position: absolute;
  top: 0;
  z-index: -1;

  svg {
    height: inherit;
    width: inherit;
  }
}

.container {
  margin: 150px 0 0 100px;
  width: 880px;

  h1 {
    font-size: 64px;
    margin: 0 0 25px 0;
    width: 75%;

    @media (max-width: $information-lg) {
      font-size: 40px;
    }
    @media (max-width: $information-sm) {
      font-size: 25px;
    }
  }

  @media (max-width: $information-lg) {
    width: 700px;
  }
  @media (max-width: $information-md) {
    margin: 50px 0 0 50px;
    width: 600px;
  }
  @media (max-width: $information-sm) {
    width: 400px;
  }
}

.subtitle-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 15px;
  max-width: 888px;

  p {
    margin: 10px 0;
    font-weight: bold;
  }
  @media (max-width: $information-sm) {
    grid-template-columns: 1fr;
  }
}

.subtitle-text 
{
  font-size: 24px;

  @media (max-width: $information-lg) {
    font-size: 18px;
  }
  @media (max-width: $information-md) {
    font-size: 15px;
  }
}

.link-yellow {
  color: yellow;
  margin: 0 2% 0 0;
}

.link-ajax {
  color: red;
}