<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{- if .IsHome }}
  <meta name="description" content="{{ .Site.Params.Description }}" />
  {{- else if .Description }}
  <meta name="description" content="{{ .Description }}" />
  {{- end }}
  <title>
    {{- if .IsHome }} {{ .Site.Title }} {{- else }} {{ .Title }} &middot;
    {{.Site.Title }} {{- end }}
  </title>
  {{ $style := resources.Get "scss/main.scss" | toCSS | minify }}
  <style>
    {{ $style.Content | safeCSS }}
  </style>
  <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}"
  rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link
    rel="icon"
    type="image/png"
    sizes="48x48"
    href="/images/favicon-48x48.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href="/images/favicon-192x192.png"
  />
</head>
