{{ define "main" }}

<div class="container">
  <h1>
    👋<br/>
    Hi, my name is<br/>
    Maarten de Klerk
  </h1>
  <div class="subtitle-container">
    <p>MSc Computing Science Student</p>
    <p>
      => 
      <a href="https://www.uu.nl/en" target="_blank" rel="noopener noreferrer">
        Utrecht University
      </a>
    </p>
    <p>Junior Software Engineer</p>
    <p>
      => 
      <a href="https://www.rysst.nl/" target="_blank" rel="noopener noreferrer">
        RYSST
      </a>
    </p>
  </div>
</div>

{{ end }}
