{{ define "main" }}

<div class="container">
  <h1>{{ emojify ":wave:" }}<br />Hi, my name is Maarten de Klerk</h1>
  <div class="subtitle-container subtitle-text">
    <p>
      Developer @
      <a class="link-ajax" href="https://english.ajax.nl"> AFC Ajax </a>
    </p>
  </div>
  <div class="subtitle-text">
    <a class="link-yellow" href="https://twitter.com/gewoon_maarten">Twitter</a>
    <a class="link-yellow" href="https://github.com/gewoonmaarten">Github</a>
  </div>
</div>
<div id="background">
  <svg xmlns="http://www.w3.org/2000/svg"></svg>
</div>
{{ end }}
