{{ define "main" }}
    <main>
        <div class="background"></div>
        <div class="content"></div>
        
        <header class="title-card">
            <h1>
                👋<br/>
                Hi, my name is {{ .Site.Author.name }}
            </h1>
        </header>

        <section class="info-card">
            <h2>{{ .Site.Author.title }}</h2>
            <div class="links">
                {{- range .Site.Params.links -}}
                <a rel="me" href="{{ .url }}" title="{{ .title }}" aria-label="{{ .label }}">
                    <span class="{{ .iconset | default "fab" }} fa-{{ .icon }}"></span>
                </a>
                {{- end -}}
            </div>
            <hr />
        </section>
    </main>
{{ end }}