{{ define "main" }}
    <img class="background" src="../img/background.webp" alt="">
    <main>
        <header>
            <h1>
                👋<br/>
                Hi, my name is {{ .Site.Author.name }}                
            </h1>
            <img src="{{ .Site.Author.avatar }}" alt="">
        </header>
        <section class="info-card">
            <h2>{{ .Site.Author.title }}</h2>
            <div class="links">
                {{- range .Site.Params.links -}}
                <a rel="me" href="{{ .url }}" title="{{ .title }}" aria-label="{{ .label }}">
                    <span class="{{ .iconset | default "fab" }} fa-{{ .icon }}"></span>
                </a>
                {{- end -}}
            </div>
            <hr />
        </section>
    </main>
{{ end }}